body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 200px;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header ul {
  font-size: 18px;
  display: flex;
  gap: 20px;
}

.header ul a {
  color: #b5b7bb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 80px 200px;
}

.hero .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero .text .main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 5px;
}

.hero .text .secondary {
  color: #b5b7bb;
  font-size: 18px;
}

.hero img {
  width: 400px;
  height: 200px;
  flex-shrink: 0;
}

.hero button {
  background-color: #3882f6;
  color: white;
  font-weight: 900;
  margin: 0;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 60px 200px;
}

.content .title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 60px;
}

.content .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card img {
  height: 150px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

.card div {
  width: 150px;
  text-align: center;
  color: #676b73;
}

.quote {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote-text {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 200px;
}

.quote-text p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-text span {
  font-size: 24px;
  font-weight: 900;
  align-self: flex-end;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action .box {
  color: #f9faf8;
  background-color: #3882f6;
  flex-basis: 860px;
  border-radius: 8px;
  margin: 80px 40px;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.action .box .message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.action .box .message .title {
  font-size: 24px;
  font-weight: 900;
}

.action .box .message .body {
  color: #dbdbdb;
}

.action .box button {
  background-color: #3882f6;
  border: 2px solid #ffffff;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #f9faf8;
}
